<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AdvertiserCreative" >
  <resultMap id="BaseResultMap" type="com.zc.entity.AdvertiserCreative" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="campaign_id" property="campaignId" jdbcType="VARCHAR" />
    <result column="creative_name" property="creativeName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="ct_title" property="ctTitle" jdbcType="VARCHAR" />
    <result column="ct_img_url" property="ctImgUrl" jdbcType="VARCHAR" />
    <result column="ct_target_url" property="ctTargetUrl" jdbcType="VARCHAR" />
    <result column="ct_note" property="ctNote" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="check_state" property="checkState" jdbcType="INTEGER" />
    <result column="check_msg" property="checkMsg" jdbcType="VARCHAR" />

  </resultMap>

  <sql id="Base_Column_List" >
    id  , campaign_id , creative_name , type , ct_title , ct_img_url , ct_target_url , ct_note , is_delete , state
 , check_state , check_msg
  </sql>

  <select id="selectByWhere" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from advertiser_creative
    <where >
       <include refid="where_Column_List" />
    </where>
    <if test="orderProperty != null and orderDirection != null " >
          ORDER BY ${orderProperty} ${orderDirection}
    </if>
    <if test="pageStart != null and pageLimit != null " >
       limit #{pageStart},#{pageLimit}
     </if>
  </select>

  <select id="selectByWhereCount" resultType="java.lang.Long" >
    select count(*) from advertiser_creative
    <where >
       <include refid="where_Column_List" />
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from advertiser_creative
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from advertiser_creative
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.zc.entity.AdvertiserCreative" >
    insert into advertiser_creative (id
     , campaign_id , creative_name , type , ct_title , ct_img_url , ct_target_url , ct_note , is_delete , state
 , check_state , check_msg
      )
    values (#{id},
     , #{campaignId} , #{creativeName} , #{type} , #{ctTitle} , #{ctImgUrl} , #{ctTargetUrl} , #{ctNote} , #{isDelete}
 , #{state} , #{checkState} , #{checkMsg}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zc.entity.AdvertiserCreative" >
    insert into advertiser_creative
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="campaignId != null" >
        campaign_id,
      </if>
      <if test="creativeName != null" >
        creative_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ctTitle != null" >
        ct_title,
      </if>
      <if test="ctImgUrl != null" >
        ct_img_url,
      </if>
      <if test="ctTargetUrl != null" >
        ct_target_url,
      </if>
      <if test="ctNote != null" >
        ct_note,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="checkState != null" >
        check_state,
      </if>
      <if test="checkMsg != null" >
        check_msg,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="campaignId != null" >
        #{campaignId},
      </if>
      <if test="creativeName != null" >
        #{creativeName},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="ctTitle != null" >
        #{ctTitle},
      </if>
      <if test="ctImgUrl != null" >
        #{ctImgUrl},
      </if>
      <if test="ctTargetUrl != null" >
        #{ctTargetUrl},
      </if>
      <if test="ctNote != null" >
        #{ctNote},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
      <if test="state != null" >
        #{state},
      </if>
      <if test="checkState != null" >
        #{checkState},
      </if>
      <if test="checkMsg != null" >
        #{checkMsg},
      </if>

    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zc.entity.AdvertiserCreative" >
    update advertiser_creative
    <set>
      <if test="campaignId != null" >
        campaign_id = #{campaignId},
      </if>
      <if test="creativeName != null" >
        creative_name = #{creativeName},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="ctTitle != null" >
        ct_title = #{ctTitle},
      </if>
      <if test="ctImgUrl != null" >
        ct_img_url = #{ctImgUrl},
      </if>
      <if test="ctTargetUrl != null" >
        ct_target_url = #{ctTargetUrl},
      </if>
      <if test="ctNote != null" >
        ct_note = #{ctNote},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="checkState != null" >
        check_state = #{checkState},
      </if>
      <if test="checkMsg != null" >
        check_msg = #{checkMsg},
      </if>

    </set>
    where id = #{id}
  </update>

  <sql id="where_Column_List" >
      <if test="campaignId != null" >
        AND campaign_id = #{campaignId}
      </if>
      <if test="creativeName != null" >
        AND creative_name = #{creativeName}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="ctTitle != null" >
        AND ct_title = #{ctTitle}
      </if>
      <if test="ctImgUrl != null" >
        AND ct_img_url = #{ctImgUrl}
      </if>
      <if test="ctTargetUrl != null" >
        AND ct_target_url = #{ctTargetUrl}
      </if>
      <if test="ctNote != null" >
        AND ct_note = #{ctNote}
      </if>
      <if test="isDelete != null" >
        AND is_delete = #{isDelete}
      </if>
      <if test="state != null" >
        AND state = #{state}
      </if>
      <if test="checkState != null" >
        AND check_state = #{checkState}
      </if>
      <if test="checkMsg != null" >
        AND check_msg = #{checkMsg}
      </if>
      <if test="idList != null" >
        AND id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="campaignIdList != null" >
        AND campaign_id in
        <foreach collection="campaignIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="creativeNameList != null" >
        AND creative_name in
        <foreach collection="creativeNameList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="typeList != null" >
        AND type in
        <foreach collection="typeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="ctTitleList != null" >
        AND ct_title in
        <foreach collection="ctTitleList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="ctImgUrlList != null" >
        AND ct_img_url in
        <foreach collection="ctImgUrlList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="ctTargetUrlList != null" >
        AND ct_target_url in
        <foreach collection="ctTargetUrlList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="ctNoteList != null" >
        AND ct_note in
        <foreach collection="ctNoteList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="isDeleteList != null" >
        AND is_delete in
        <foreach collection="isDeleteList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="stateList != null" >
        AND state in
        <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="checkStateList != null" >
        AND check_state in
        <foreach collection="checkStateList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="checkMsgList != null" >
        AND check_msg in
        <foreach collection="checkMsgList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="campaignIdLike != null" >
        AND campaign_id like #{campaignIdLike}
      </if>
      <if test="creativeNameLike != null" >
        AND creative_name like #{creativeNameLike}
      </if>
      <if test="typeLike != null" >
        AND type like #{typeLike}
      </if>
      <if test="ctTitleLike != null" >
        AND ct_title like #{ctTitleLike}
      </if>
      <if test="ctImgUrlLike != null" >
        AND ct_img_url like #{ctImgUrlLike}
      </if>
      <if test="ctTargetUrlLike != null" >
        AND ct_target_url like #{ctTargetUrlLike}
      </if>
      <if test="ctNoteLike != null" >
        AND ct_note like #{ctNoteLike}
      </if>
      <if test="isDeleteLike != null" >
        AND is_delete like #{isDeleteLike}
      </if>
      <if test="stateLike != null" >
        AND state like #{stateLike}
      </if>
      <if test="checkStateLike != null" >
        AND check_state like #{checkStateLike}
      </if>
      <if test="checkMsgLike != null" >
        AND check_msg like #{checkMsgLike}
      </if>
       <if test="fullTextSearchValue != null" >
           AND (
              campaign_id like #{fullTextSearchValue}
           or creative_name like #{fullTextSearchValue}
           or type like #{fullTextSearchValue}
           or ct_title like #{fullTextSearchValue}
           or ct_img_url like #{fullTextSearchValue}
           or ct_target_url like #{fullTextSearchValue}
           or ct_note like #{fullTextSearchValue}
           or is_delete like #{fullTextSearchValue}
           or state like #{fullTextSearchValue}
           or check_state like #{fullTextSearchValue}
           or check_msg like #{fullTextSearchValue}
           )
      </if>

  </sql>
</mapper>