<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AdvertiserCampaign" >
  <resultMap id="BaseResultMap" type="com.zc.entity.AdvertiserCampaign" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="advertiser_id" property="advertiserId" jdbcType="VARCHAR" />
    <result column="campaign_name" property="campaignName" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="day_price" property="dayPrice" jdbcType="BIGINT" />
    <result column="bid_type" property="bidType" jdbcType="INTEGER" />
    <result column="bid_price" property="bidPrice" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />

  </resultMap>

  <sql id="Base_Column_List" >
    id  , advertiser_id , campaign_name , begin_time , end_time , state , day_price , bid_type , bid_price , create_time
 , update_time , is_delete
  </sql>

  <select id="selectByWhere" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from advertiser_campaign
    <where >
       <include refid="where_Column_List" />
    </where>
    <if test="orderProperty != null and orderDirection != null " >
          ORDER BY ${orderProperty} ${orderDirection}
    </if>
    <if test="pageStart != null and pageLimit != null " >
       limit #{pageStart},#{pageLimit}
     </if>
  </select>

  <select id="selectByWhereCount" resultType="java.lang.Long" >
    select count(*) from advertiser_campaign
    <where >
       <include refid="where_Column_List" />
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from advertiser_campaign
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from advertiser_campaign
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.zc.entity.AdvertiserCampaign" >
    insert into advertiser_campaign (id
     , advertiser_id , campaign_name , begin_time , end_time , state , day_price , bid_type , bid_price , create_time
 , update_time , is_delete
      )
    values (#{id},
     , #{advertiserId} , #{campaignName} , #{beginTime} , #{endTime} , #{state} , #{dayPrice} , #{bidType}
 , #{bidPrice} , #{createTime} , #{updateTime} , #{isDelete}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zc.entity.AdvertiserCampaign" >
    insert into advertiser_campaign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="advertiserId != null" >
        advertiser_id,
      </if>
      <if test="campaignName != null" >
        campaign_name,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="dayPrice != null" >
        day_price,
      </if>
      <if test="bidType != null" >
        bid_type,
      </if>
      <if test="bidPrice != null" >
        bid_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="advertiserId != null" >
        #{advertiserId},
      </if>
      <if test="campaignName != null" >
        #{campaignName},
      </if>
      <if test="beginTime != null" >
        #{beginTime},
      </if>
      <if test="endTime != null" >
        #{endTime},
      </if>
      <if test="state != null" >
        #{state},
      </if>
      <if test="dayPrice != null" >
        #{dayPrice},
      </if>
      <if test="bidType != null" >
        #{bidType},
      </if>
      <if test="bidPrice != null" >
        #{bidPrice},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>

    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zc.entity.AdvertiserCampaign" >
    update advertiser_campaign
    <set>
      <if test="advertiserId != null" >
        advertiser_id = #{advertiserId},
      </if>
      <if test="campaignName != null" >
        campaign_name = #{campaignName},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="dayPrice != null" >
        day_price = #{dayPrice},
      </if>
      <if test="bidType != null" >
        bid_type = #{bidType},
      </if>
      <if test="bidPrice != null" >
        bid_price = #{bidPrice},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete},
      </if>

    </set>
    where id = #{id}
  </update>

  <sql id="where_Column_List" >
      <if test="advertiserId != null" >
        AND advertiser_id = #{advertiserId}
      </if>
      <if test="campaignName != null" >
        AND campaign_name = #{campaignName}
      </if>
      <if test="beginTime != null" >
        AND begin_time = #{beginTime}
      </if>
      <if test="beginTimeStart != null and beginTimeStart != ''" >
        AND begin_time &gt;= #{beginTimeStart}
      </if>
      <if test="beginTimeEnd != null and beginTimeEnd != ''" >
        AND begin_time &lt; #{beginTimeEnd}
      </if>
      <if test="endTime != null" >
        AND end_time = #{endTime}
      </if>
      <if test="endTimeStart != null and endTimeStart != ''" >
        AND end_time &gt;= #{endTimeStart}
      </if>
      <if test="endTimeEnd != null and endTimeEnd != ''" >
        AND end_time &lt; #{endTimeEnd}
      </if>
      <if test="state != null" >
        AND state = #{state}
      </if>
      <if test="dayPrice != null" >
        AND day_price = #{dayPrice}
      </if>
      <if test="bidType != null" >
        AND bid_type = #{bidType}
      </if>
      <if test="bidPrice != null" >
        AND bid_price = #{bidPrice}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime}
      </if>
      <if test="createTimeStart != null and createTimeStart != ''" >
        AND create_time &gt;= #{createTimeStart}
      </if>
      <if test="createTimeEnd != null and createTimeEnd != ''" >
        AND create_time &lt; #{createTimeEnd}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime}
      </if>
      <if test="updateTimeStart != null and updateTimeStart != ''" >
        AND update_time &gt;= #{updateTimeStart}
      </if>
      <if test="updateTimeEnd != null and updateTimeEnd != ''" >
        AND update_time &lt; #{updateTimeEnd}
      </if>
      <if test="isDelete != null" >
        AND is_delete = #{isDelete}
      </if>
      <if test="idList != null" >
        AND id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="advertiserIdList != null" >
        AND advertiser_id in
        <foreach collection="advertiserIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="campaignNameList != null" >
        AND campaign_name in
        <foreach collection="campaignNameList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="beginTimeList != null" >
        AND begin_time in
        <foreach collection="beginTimeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="endTimeList != null" >
        AND end_time in
        <foreach collection="endTimeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="stateList != null" >
        AND state in
        <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="dayPriceList != null" >
        AND day_price in
        <foreach collection="dayPriceList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="bidTypeList != null" >
        AND bid_type in
        <foreach collection="bidTypeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="bidPriceList != null" >
        AND bid_price in
        <foreach collection="bidPriceList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="createTimeList != null" >
        AND create_time in
        <foreach collection="createTimeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="updateTimeList != null" >
        AND update_time in
        <foreach collection="updateTimeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="isDeleteList != null" >
        AND is_delete in
        <foreach collection="isDeleteList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="advertiserIdLike != null" >
        AND advertiser_id like #{advertiserIdLike}
      </if>
      <if test="campaignNameLike != null" >
        AND campaign_name like #{campaignNameLike}
      </if>
      <if test="beginTimeLike != null" >
        AND begin_time like #{beginTimeLike}
      </if>
      <if test="endTimeLike != null" >
        AND end_time like #{endTimeLike}
      </if>
      <if test="stateLike != null" >
        AND state like #{stateLike}
      </if>
      <if test="dayPriceLike != null" >
        AND day_price like #{dayPriceLike}
      </if>
      <if test="bidTypeLike != null" >
        AND bid_type like #{bidTypeLike}
      </if>
      <if test="bidPriceLike != null" >
        AND bid_price like #{bidPriceLike}
      </if>
      <if test="createTimeLike != null" >
        AND create_time like #{createTimeLike}
      </if>
      <if test="updateTimeLike != null" >
        AND update_time like #{updateTimeLike}
      </if>
      <if test="isDeleteLike != null" >
        AND is_delete like #{isDeleteLike}
      </if>
       <if test="fullTextSearchValue != null" >
           AND (
              advertiser_id like #{fullTextSearchValue}
           or campaign_name like #{fullTextSearchValue}
           or begin_time like #{fullTextSearchValue}
           or end_time like #{fullTextSearchValue}
           or state like #{fullTextSearchValue}
           or day_price like #{fullTextSearchValue}
           or bid_type like #{fullTextSearchValue}
           or bid_price like #{fullTextSearchValue}
           or create_time like #{fullTextSearchValue}
           or update_time like #{fullTextSearchValue}
           or is_delete like #{fullTextSearchValue}
           )
      </if>

  </sql>
</mapper>