<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CampaignCreativeReport" >
  <resultMap id="BaseResultMap" type="com.zc.entity.CampaignCreativeReport" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="advertiser_id" property="advertiserId" jdbcType="VARCHAR" />
    <result column="report_date" property="reportDate" jdbcType="TIMESTAMP" />
    <result column="campaign_id" property="campaignId" jdbcType="VARCHAR" />
    <result column="creative_id" property="creativeId" jdbcType="VARCHAR" />
    <result column="imp_count" property="impCount" jdbcType="BIGINT" />
    <result column="click_count" property="clickCount" jdbcType="BIGINT" />
    <result column="valid_click_count" property="validClickCount" jdbcType="BIGINT" />
    <result column="pay_money" property="payMoney" jdbcType="BIGINT" />

  </resultMap>

  <sql id="Base_Column_List" >
    id  , advertiser_id , report_date , campaign_id , creative_id , imp_count , click_count , valid_click_count
 , pay_money
  </sql>

  <select id="selectByWhere" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from campaign_creative_report
    <where >
       <include refid="where_Column_List" />
    </where>
    <if test="orderProperty != null and orderDirection != null " >
          ORDER BY ${orderProperty} ${orderDirection}
    </if>
    <if test="pageStart != null and pageLimit != null " >
       limit #{pageStart},#{pageLimit}
     </if>
  </select>

  <select id="selectByWhereCount" resultType="java.lang.Long" >
    select count(*) from campaign_creative_report
    <where >
       <include refid="where_Column_List" />
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from campaign_creative_report
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from campaign_creative_report
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.zc.entity.CampaignCreativeReport" >
    insert into campaign_creative_report (id
     , advertiser_id , report_date , campaign_id , creative_id , imp_count , click_count , valid_click_count
 , pay_money
      )
    values (#{id},
     , #{advertiserId} , #{reportDate} , #{campaignId} , #{creativeId} , #{impCount} , #{clickCount} , #{validClickCount}
 , #{payMoney}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zc.entity.CampaignCreativeReport" >
    insert into campaign_creative_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="advertiserId != null" >
        advertiser_id,
      </if>
      <if test="reportDate != null" >
        report_date,
      </if>
      <if test="campaignId != null" >
        campaign_id,
      </if>
      <if test="creativeId != null" >
        creative_id,
      </if>
      <if test="impCount != null" >
        imp_count,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="validClickCount != null" >
        valid_click_count,
      </if>
      <if test="payMoney != null" >
        pay_money,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="advertiserId != null" >
        #{advertiserId},
      </if>
      <if test="reportDate != null" >
        #{reportDate},
      </if>
      <if test="campaignId != null" >
        #{campaignId},
      </if>
      <if test="creativeId != null" >
        #{creativeId},
      </if>
      <if test="impCount != null" >
        #{impCount},
      </if>
      <if test="clickCount != null" >
        #{clickCount},
      </if>
      <if test="validClickCount != null" >
        #{validClickCount},
      </if>
      <if test="payMoney != null" >
        #{payMoney},
      </if>

    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zc.entity.CampaignCreativeReport" >
    update campaign_creative_report
    <set>
      <if test="advertiserId != null" >
        advertiser_id = #{advertiserId},
      </if>
      <if test="reportDate != null" >
        report_date = #{reportDate},
      </if>
      <if test="campaignId != null" >
        campaign_id = #{campaignId},
      </if>
      <if test="creativeId != null" >
        creative_id = #{creativeId},
      </if>
      <if test="impCount != null" >
        imp_count = #{impCount},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount},
      </if>
      <if test="validClickCount != null" >
        valid_click_count = #{validClickCount},
      </if>
      <if test="payMoney != null" >
        pay_money = #{payMoney},
      </if>

    </set>
    where id = #{id}
  </update>

  <sql id="where_Column_List" >
      <if test="advertiserId != null" >
        AND advertiser_id = #{advertiserId}
      </if>
      <if test="reportDate != null" >
        AND report_date = #{reportDate}
      </if>
      <if test="reportDateStart != null and reportDateStart != ''" >
        AND report_date &gt;= #{reportDateStart}
      </if>
      <if test="reportDateEnd != null and reportDateEnd != ''" >
        AND report_date &lt; #{reportDateEnd}
      </if>
      <if test="campaignId != null" >
        AND campaign_id = #{campaignId}
      </if>
      <if test="creativeId != null" >
        AND creative_id = #{creativeId}
      </if>
      <if test="impCount != null" >
        AND imp_count = #{impCount}
      </if>
      <if test="clickCount != null" >
        AND click_count = #{clickCount}
      </if>
      <if test="validClickCount != null" >
        AND valid_click_count = #{validClickCount}
      </if>
      <if test="payMoney != null" >
        AND pay_money = #{payMoney}
      </if>
      <if test="idList != null" >
        AND id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="advertiserIdList != null" >
        AND advertiser_id in
        <foreach collection="advertiserIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="reportDateList != null" >
        AND report_date in
        <foreach collection="reportDateList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="campaignIdList != null" >
        AND campaign_id in
        <foreach collection="campaignIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="creativeIdList != null" >
        AND creative_id in
        <foreach collection="creativeIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="impCountList != null" >
        AND imp_count in
        <foreach collection="impCountList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="clickCountList != null" >
        AND click_count in
        <foreach collection="clickCountList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="validClickCountList != null" >
        AND valid_click_count in
        <foreach collection="validClickCountList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="payMoneyList != null" >
        AND pay_money in
        <foreach collection="payMoneyList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="advertiserIdLike != null" >
        AND advertiser_id like #{advertiserIdLike}
      </if>

      <if test="campaignIdLike != null" >
        AND campaign_id like #{campaignIdLike}
      </if>
      <if test="creativeIdLike != null" >
        AND creative_id like #{creativeIdLike}
      </if>
      <if test="impCountLike != null" >
        AND imp_count like #{impCountLike}
      </if>
      <if test="clickCountLike != null" >
        AND click_count like #{clickCountLike}
      </if>
      <if test="validClickCountLike != null" >
        AND valid_click_count like #{validClickCountLike}
      </if>
      <if test="payMoneyLike != null" >
        AND pay_money like #{payMoneyLike}
      </if>
       <if test="fullTextSearchValue != null" >
           AND (
              advertiser_id like #{fullTextSearchValue}

           or campaign_id like #{fullTextSearchValue}
           or creative_id like #{fullTextSearchValue}
           or imp_count like #{fullTextSearchValue}
           or click_count like #{fullTextSearchValue}
           or valid_click_count like #{fullTextSearchValue}
           or pay_money like #{fullTextSearchValue}
           )
      </if>

  </sql>
</mapper>