<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DuiCreditsAdd" >
  <resultMap id="BaseResultMap" type="com.zc.entity.DuiCreditsAdd" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="credits" property="credits" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />

  </resultMap>

  <sql id="Base_Column_List" >
    id  , app_key , uid , credits , type , order_num , timestamp , description , ip , sign
  </sql>

  <select id="selectByWhere" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from dui_credits_add
    <where >
       <include refid="where_Column_List" />
    </where>
    <if test="orderProperty != null and orderDirection != null " >
          ORDER BY ${orderProperty} ${orderDirection}
    </if>
    <if test="pageStart != null and pageLimit != null " >
       limit #{pageStart},#{pageLimit}
     </if>
  </select>

  <select id="selectByWhereCount" resultType="java.lang.Long" >
    select count(*) from dui_credits_add
    <where >
       <include refid="where_Column_List" />
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dui_credits_add
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dui_credits_add
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.zc.entity.DuiCreditsAdd" >
    insert into dui_credits_add (id
     , app_key , uid , credits , type , order_num , timestamp , description , ip , sign
      )
    values (#{id},
     , #{appKey} , #{uid} , #{credits} , #{type} , #{orderNum} , #{timestamp} , #{description} , #{ip} , #{sign}

      )
  </insert>

  <insert id="insertSelective" parameterType="com.zc.entity.DuiCreditsAdd" >
    insert into dui_credits_add
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="credits != null" >
        credits,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="sign != null" >
        sign,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="appKey != null" >
        #{appKey},
      </if>
      <if test="uid != null" >
        #{uid},
      </if>
      <if test="credits != null" >
        #{credits},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="orderNum != null" >
        #{orderNum},
      </if>
      <if test="timestamp != null" >
        #{timestamp},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="ip != null" >
        #{ip},
      </if>
      <if test="sign != null" >
        #{sign},
      </if>

    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zc.entity.DuiCreditsAdd" >
    update dui_credits_add
    <set>
      <if test="appKey != null" >
        app_key = #{appKey},
      </if>
      <if test="uid != null" >
        uid = #{uid},
      </if>
      <if test="credits != null" >
        credits = #{credits},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="ip != null" >
        ip = #{ip},
      </if>
      <if test="sign != null" >
        sign = #{sign},
      </if>

    </set>
    where id = #{id}
  </update>

  <sql id="where_Column_List" >
      <if test="appKey != null" >
        AND app_key = #{appKey}
      </if>
      <if test="uid != null" >
        AND uid = #{uid}
      </if>
      <if test="credits != null" >
        AND credits = #{credits}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="orderNum != null" >
        AND order_num = #{orderNum}
      </if>
      <if test="timestamp != null" >
        AND timestamp = #{timestamp}
      </if>
      <if test="timestampStart != null and timestampStart != ''" >
        AND timestamp &gt;= #{timestampStart}
      </if>
      <if test="timestampEnd != null and timestampEnd != ''" >
        AND timestamp &lt; #{timestampEnd}
      </if>
      <if test="description != null" >
        AND description = #{description}
      </if>
      <if test="ip != null" >
        AND ip = #{ip}
      </if>
      <if test="sign != null" >
        AND sign = #{sign}
      </if>
      <if test="idList != null" >
        AND id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="appKeyList != null" >
        AND app_key in
        <foreach collection="appKeyList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="uidList != null" >
        AND uid in
        <foreach collection="uidList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="creditsList != null" >
        AND credits in
        <foreach collection="creditsList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="typeList != null" >
        AND type in
        <foreach collection="typeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="orderNumList != null" >
        AND order_num in
        <foreach collection="orderNumList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="timestampList != null" >
        AND timestamp in
        <foreach collection="timestampList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="descriptionList != null" >
        AND description in
        <foreach collection="descriptionList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="ipList != null" >
        AND ip in
        <foreach collection="ipList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="signList != null" >
        AND sign in
        <foreach collection="signList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="appKeyLike != null" >
        AND app_key like #{appKeyLike}
      </if>
      <if test="uidLike != null" >
        AND uid like #{uidLike}
      </if>
      <if test="creditsLike != null" >
        AND credits like #{creditsLike}
      </if>
      <if test="typeLike != null" >
        AND type like #{typeLike}
      </if>
      <if test="orderNumLike != null" >
        AND order_num like #{orderNumLike}
      </if>
      <if test="timestampLike != null" >
        AND timestamp like #{timestampLike}
      </if>
      <if test="descriptionLike != null" >
        AND description like #{descriptionLike}
      </if>
      <if test="ipLike != null" >
        AND ip like #{ipLike}
      </if>
      <if test="signLike != null" >
        AND sign like #{signLike}
      </if>
       <if test="fullTextSearchValue != null" >
           AND (
              app_key like #{fullTextSearchValue}
           or uid like #{fullTextSearchValue}
           or credits like #{fullTextSearchValue}
           or type like #{fullTextSearchValue}
           or order_num like #{fullTextSearchValue}
           or timestamp like #{fullTextSearchValue}
           or description like #{fullTextSearchValue}
           or ip like #{fullTextSearchValue}
           or sign like #{fullTextSearchValue}
           )
      </if>

  </sql>
</mapper>