<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SignBuyticketlist" >
  <resultMap id="BaseResultMap" type="com.zc.entity.SignBuyticketlist" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="ticket_id" property="ticketId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

  </resultMap>

  <sql id="Base_Column_List" >
    id  , ticket_id , user_id , create_time
  </sql>

  <select id="selectByWhere" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from sign_buyticketlist
    <where >
       <include refid="where_Column_List" />
    </where>
    <if test="orderProperty != null and orderDirection != null " >
          ORDER BY ${orderProperty} ${orderDirection}
    </if>
    <if test="pageStart != null and pageLimit != null " >
       limit #{pageStart},#{pageLimit}
     </if>
  </select>

  <select id="selectByWhereCount" resultType="java.lang.Long" >
    select count(*) from sign_buyticketlist
    <where >
       <include refid="where_Column_List" />
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sign_buyticketlist
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sign_buyticketlist
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.zc.entity.SignBuyticketlist" >
    insert into sign_buyticketlist (id
     , ticket_id , user_id , create_time
      )
    values (#{id},
     , #{ticketId} , #{userId} , #{createTime}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zc.entity.SignBuyticketlist" >
    insert into sign_buyticketlist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ticketId != null" >
        ticket_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="ticketId != null" >
        #{ticketId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>

    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zc.entity.SignBuyticketlist" >
    update sign_buyticketlist
    <set>
      <if test="ticketId != null" >
        ticket_id = #{ticketId},
      </if>
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>

    </set>
    where id = #{id}
  </update>

  <sql id="where_Column_List" >
      <if test="ticketId != null" >
        AND ticket_id = #{ticketId}
      </if>
      <if test="userId != null" >
        AND user_id = #{userId}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime}
      </if>
      <if test="createTimeStart != null and createTimeStart != ''" >
        AND create_time &gt;= #{createTimeStart}
      </if>
      <if test="createTimeEnd != null and createTimeEnd != ''" >
        AND create_time &lt; #{createTimeEnd}
      </if>
      <if test="idList != null" >
        AND id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="ticketIdList != null" >
        AND ticket_id in
        <foreach collection="ticketIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="userIdList != null" >
        AND user_id in
        <foreach collection="userIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="createTimeList != null" >
        AND create_time in
        <foreach collection="createTimeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="ticketIdLike != null" >
        AND ticket_id like #{ticketIdLike}
      </if>
      <if test="userIdLike != null" >
        AND user_id like #{userIdLike}
      </if>
      <if test="createTimeLike != null" >
        AND create_time like #{createTimeLike}
      </if>
       <if test="fullTextSearchValue != null" >
           AND (
              ticket_id like #{fullTextSearchValue}
           or user_id like #{fullTextSearchValue}
           or create_time like #{fullTextSearchValue}
           )
      </if>

  </sql>
</mapper>