<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SignCashdetail" >
  <resultMap id="BaseResultMap" type="com.zc.entity.SignCashdetail" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

  </resultMap>

  <sql id="Base_Column_List" >
    id  , type , reason , money , create_time
  </sql>

  <select id="selectByWhere" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from sign_cashdetail
    <where >
       <include refid="where_Column_List" />
    </where>
    <if test="orderProperty != null and orderDirection != null " >
          ORDER BY ${orderProperty} ${orderDirection}
    </if>
    <if test="pageStart != null and pageLimit != null " >
       limit #{pageStart},#{pageLimit}
     </if>
  </select>

  <select id="selectByWhereCount" resultType="java.lang.Long" >
    select count(*) from sign_cashdetail
    <where >
       <include refid="where_Column_List" />
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sign_cashdetail
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sign_cashdetail
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.zc.entity.SignCashdetail" >
    insert into sign_cashdetail (id
     , type , reason , money , create_time
      )
    values (#{id},
     , #{type} , #{reason} , #{money} , #{createTime}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zc.entity.SignCashdetail" >
    insert into sign_cashdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="reason != null" >
        #{reason},
      </if>
      <if test="money != null" >
        #{money},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>

    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zc.entity.SignCashdetail" >
    update sign_cashdetail
    <set>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="reason != null" >
        reason = #{reason},
      </if>
      <if test="money != null" >
        money = #{money},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>

    </set>
    where id = #{id}
  </update>

  <sql id="where_Column_List" >
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="reason != null" >
        AND reason = #{reason}
      </if>
      <if test="money != null" >
        AND money = #{money}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime}
      </if>
      <if test="createTimeStart != null and createTimeStart != ''" >
        AND create_time &gt;= #{createTimeStart}
      </if>
      <if test="createTimeEnd != null and createTimeEnd != ''" >
        AND create_time &lt; #{createTimeEnd}
      </if>
      <if test="idList != null" >
        AND id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="typeList != null" >
        AND type in
        <foreach collection="typeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="reasonList != null" >
        AND reason in
        <foreach collection="reasonList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="moneyList != null" >
        AND money in
        <foreach collection="moneyList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="createTimeList != null" >
        AND create_time in
        <foreach collection="createTimeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
      </if>
      <if test="typeLike != null" >
        AND type like #{typeLike}
      </if>
      <if test="reasonLike != null" >
        AND reason like #{reasonLike}
      </if>
      <if test="moneyLike != null" >
        AND money like #{moneyLike}
      </if>
      <if test="createTimeLike != null" >
        AND create_time like #{createTimeLike}
      </if>
       <if test="fullTextSearchValue != null" >
           AND (
              type like #{fullTextSearchValue}
           or reason like #{fullTextSearchValue}
           or money like #{fullTextSearchValue}
           or create_time like #{fullTextSearchValue}
           )
      </if>

  </sql>
</mapper>