<script type="text/template" id="template-advertiserCampaign-advertiserCampaign">
    <div class="MainContainer beanView advertiserCampaign">
        <el-row class="breadcrumb">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>广告主推广计划</el-breadcrumb-item>
            </el-breadcrumb>
        </el-row>
        <el-row class="bean">
            <el-col :span="10" :offset="2">
                <el-form :model="bean" :rules="rules" class="form" label-width="250px" size="small">
                    <!-- <el-form-item label="advertiserId" prop="advertiserId">
                         <el-input style="width:220px;" v-model="bean.advertiserId"></el-input>
                     </el-form-item>-->
                    <el-form-item label="活动名称" prop="campaignName">
                        <el-input style="width:220px;" v-model="bean.campaignName"></el-input>
                    </el-form-item>
                    <el-form-item label="开始日期" prop="beginTime">
                        <el-date-picker placeholder="选择日期" type="datetime"
                                        v-model="bean.beginTime">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="结束日期" prop="endTime">
                        <el-date-picker placeholder="选择日期" type="datetime"
                                        v-model="bean.endTime">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="活动状态" prop="state" v-if="bean.state==1" >
                        <el-tag type="success">开启</el-tag>
                    </el-form-item>

                    <el-form-item label="活动状态" prop="state" v-if="bean.state==2">
                        <el-tag type="danger">暂停</el-tag>
                    </el-form-item>


                    <el-form-item label="每天预算" prop="dayPrice" >
                        <el-input style="width:220px;" :formatter="formatMoney"   v-model="bean.dayPrice" ><template slot="append">元</template></el-input>
                    </el-form-item>
                    <!--<el-form-item label="竞价方式"   prop="bidType">
                        <el-input style="width:220px;" v-model="bean.bidType"></el-input>-->
                        <!--：1CPM 2CPC 3CPA 4CPS bean.bidType==1?'CPM':bean.bidType==2?'CPC':bean.bidType==3?'CPA':'CPS'-->

                    <el-form-item label="竞价方式"   prop="bidType"><!--==1?'CPM':bean.bidType==2?'CPC':'CPA'-->
                    <el-select style="width:220px;"  v-model="bean.bidType" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                                :disabled="item.disabled">
                        </el-option>
                    </el-select>
                    </el-form-item>

                    <el-form-item label="竞价出价(元)" prop="bidPrice">
                        <el-input style="width:220px;" v-model="bean.bidPrice" :formatter="formatMoney"><template slot="append">元</template></el-input>
                    </el-form-item>
                    <!--  <el-form-item label="创建时间" prop="createTime">
                        <el-date-picker placeholder="选择日期" type="date"
                                        v-model="bean.createTime">
                        </el-date-picker>
                    </el-form-item>
                  <el-form-item label="更新时间" prop="updateTime">
                        <el-date-picker placeholder="选择日期" type="date"
                                        v-model="bean.updateTime">
                        </el-date-picker>
                    </el-form-item>-->
                    <!--<el-form-item label="是否删除：1是 0否" prop="isDelete">
                        <el-input style="width:220px;" v-model="bean.isDelete"></el-input>
                    </el-form-item>-->

                    <el-form-item>
                        <el-button type="primary" @click="saveOrUpdate()">保存
                        </el-button>
                        <el-button onclick="history.back()">返回</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</script>
<script type="application/javascript">
    templateName = "advertiserCampaign-advertiserCampaign";
    templates[templateName] = Vue.extend({
        template: '#template-' + templateName,
        data: function () {
            return {
                beanName:"advertiserCampaign",
                bean: {},
                temp: {},
                stats:true,
                rules: solar.validatorRules,
                <!--：1CPM 2CPC 3CPA 4CPS bean.bidType==1?'CPM':bean.bidType==2?'CPC':bean.bidType==3?'CPA':'CPS'-->
                options: [{
                    value: 1,
                    label: 'CPM',
                    disabled: true
                }, {
                    value: 2,
                    label: 'CPC'
                }, {
                    value: 3,
                    label: 'CPA',
                    disabled: true
                }, {
                    value: 4,
                    label: 'CPS',
                    disabled: true
                } ],

            }
        },
        methods: {

            deleteBean: solar.baseMethods.deleteBeanGoBack,
            switchBidType:solar.baseMethods.switchBidType,
            formatMoney:solar.baseMethods.formatMoney,
            select: function () {
                if (!this.$route.query.id) {
                    return;
                }
                var _this = this;
                $.get(baseHost + "/" + this.beanName + "/select?id=" + this.$route.query.id, function (data) {
                    if (!data.body) {
                        layer.alert("未找到该记录!", {icon: 5});
                        return;
                    }
                    _this.bean = solar.formatObjectTime(data.body);
                    _this.bean.dayPrice = _this.bean.dayPrice/100;
                    _this.bean.bidPrice = _this.bean.bidPrice/100;
                    solar.formatObjectCodeToArray(_this.bean);
                });
            },
            saveOrUpdate: function () {
                var _this = this;
                if(_this.bean.dayPrice< 0 &&  _this.bean.bidPrice<0){
                    solar.alert("金额不能小于0", {icon: 5});
                }else{
                    _this.bean.dayPrice =  Math.round(_this.bean.dayPrice*10000)/100;
                    _this.bean.bidPrice =  Math.round( _this.bean.bidPrice*10000)/100;

           /*     _this.bean.dayPrice = _this.bean.dayPrice*100;
                _this.bean.bidPrice = _this.bean.bidPrice*100;*/
                $.ajax({
                    type: "post",
                    url: baseHost + "/" + _this.beanName + "/saveOrUpdate",
                    datType: "JSON",
                    contentType: "application/json",
                    data: JSON.stringify(this.bean),
                    async: false,
                    success: function (data) {
                        if (data.code == 200) {
                            solar.alert(data.msg + "(已保存:" + data.body + "条)", {icon: 6});
                            history.back();
                        } else {
                            solar.alert(data.msg, {icon: 5});
                        }
                    }
                });
                }
            },
        },
        mounted: function () {
            this.select();
        }

    });
</script>