<script type="text/template" id="template-advertiserAccountVirtualLog-advertiserAccountVirtualLog">
    <div class="MainContainer beanView advertiserAccountVirtualLog">
        <el-row class="breadcrumb">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>广告主虚拟账务信息</el-breadcrumb-item>
            </el-breadcrumb>
        </el-row>
        <el-row class="bean">
            <el-col :span="10" :offset="2">
                <el-form :model="bean" :rules="rules" class="form" label-width="250px" size="small">
                    <el-form-item label="advertiserId" prop="advertiserId">
                        <el-input v-model="bean.advertiserId"></el-input>
                    </el-form-item>
                    <el-form-item label="账户数据日期，比如扣款是扣20180316，create_time为20180317" prop="accountDataTime">
                        <el-date-picker placeholder="选择日期" type="date"
                                        v-model="bean.accountDataTime">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="1入账 2出账" prop="accountType">
                        <el-input v-model="bean.accountType"></el-input>
                    </el-form-item>
                    <el-form-item label="金额（分）" prop="price">
                        <el-input v-model="bean.price"></el-input>
                    </el-form-item>
                    <el-form-item label="备注" prop="note">
                        <el-input type="textarea" :rows="5" v-model="bean.note"></el-input>
                    </el-form-item>
                    <el-form-item label="createTime" prop="createTime">
                        <el-date-picker placeholder="选择日期" type="date"
                                        v-model="bean.createTime">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="saveOrUpdate()">保存
                        </el-button>
                        <el-button onclick="history.back()">返回</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</script>
<script type="application/javascript">
    templateName = "advertiserAccountVirtualLog-advertiserAccountVirtualLog";
    templates[templateName] = Vue.extend({
        template: '#template-' + templateName,
        data: function () {
            return {
                beanName:"advertiserAccountVirtualLog",
                bean: {},
                temp: {},
                rules: solar.validatorRules,
            }
        },
        methods: {
            select: solar.baseMethods.select,
            deleteBean: solar.baseMethods.deleteBeanGoBack,
            saveOrUpdate: solar.baseMethods.saveOrUpdate,

        },
        mounted: function () {
            this.select();
        }

    });
</script>