<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <title>纷熙移动媒体平台</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css?v=171227">
    <link rel="Shortcut Icon" href="/static/img/icon/favicon.ico"/>
    <style>
        .bg {
            background-image: url("/static/img/login_bg.jpg");
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            -moz-background-size: 100% 100%;
        }
    </style>
</head>

<body style="height: 100%">
<div id="app" :class="showLoginView ? 'bg' : '' ">
    <table id="content-body" class="body">
        <tr>
            <td valign="top" style="background-color: #2F4050;">
                <div class="left" style="width: 220px;background-color: #2F4050;height: 100%">
                    <div style="height: 69px; border-bottom: 2px solid #213445 ;">
                        <img style="position:relative;top: 2px;margin:14px 34px;
                    "
                             src="/static/img/icon/logo.png"/>

                    </div>
                    <ul class="nav">
                        <li>
                            <h4 @click="onModuleNameClick('index');"
                                onclick="window.location='#/financial/overview'"
                                :class="openModuleName=='index' ? 'openModule' : '' "  >
                                <img v-if="openModuleName=='index'" style=" margin:21px 38px  0 47px;
                    width: 20px;height: 19px;" src="/static/img/icon/首页.png"/>
                                <img v-if="openModuleName!='index'" style=" margin:21px 38px  0 47px;
                    width: 20px;height: 19px;" src="/static/img/icon/首页b.png"/>
                                <span >首页</span>
                                <img v-if="openModuleName!='index'"  style="position:relative;top: 0px;float: right;margin:29px 26px;
                            "
                                     src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='index'"  style="position:relative;top: 0px;float: right;margin:29px 26px;
                            "
                                     src="/static/img/icon/下.png"/>
                            </h4>
                            <ul v-if="openModuleName=='index'">

                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('zygl')" style="position:relative"   :class="openModuleName=='zygl' ? 'openModule' : '' ">
                                <img v-if="openModuleName=='zygl'" class="logo"  src="/static/img/icon/资源管理b.png"/>
                                <img  v-if="openModuleName!='zygl'"  class="logo"  src="/static/img/icon/资源管理.png"/>
                                <span >资源管理
                                 <img v-if="openModuleName!='zygl'"  class="arrow" src="/static/img/icon/右.png"/>
                                 <img v-if="openModuleName=='zygl'" style="margin:29px 21px 20px 17px;" class="arrow" src="/static/img/icon/下.png"/>
                                </span>
                            </h4>
                            <ul v-if="openModuleName=='zygl'">
                                <li :class="{active:activeName=='dspMediaInfo'}">
                                    <a href="#/dspMediaInfo/dspMediaInfoPage"
                                       @click="activeName='dspMediaInfo';">媒体管理</a>
                                </li>
                                <li :class="{active:activeName=='dspMediaAdSiteInfo'}">
                                    <a href="#dspMediaAdSiteInfo/dspMediaAdSiteInfoPage"
                                       @click="activeName='dspMediaAdSiteInfo';">推广位管理</a>
                                </li>
                                <li :class="{active:activeName=='goMemberAccount'}">
                                    <a href="#goMemberAccount/goMemberAccountPage"
                                       @click="activeName='goMemberAccount';">用户管理</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('tjbb')" style="position:relative"
                                :class="openModuleName=='tjbb' ? 'openModule' : '' ">
                                <img v-if="openModuleName=='tjbb'" class="logo"  src="/static/img/icon/统计报表b.png"/>
                                <img  v-if="openModuleName!='tjbb'"  class="logo"  src="/static/img/icon/统计报表.png"/>
                                <span >统计报表
                                 <img v-if="openModuleName!='tjbb'"  class="arrow" src="/static/img/icon/右.png"/>
                                 <img v-if="openModuleName=='tjbb'" style="margin:29px 21px 20px 17px;" class="arrow" src="/static/img/icon/下.png"/>
                                </span>
                            </h4>
                            <ul v-if="openModuleName=='tjbb'">
                                <li :class="{active:activeName=='sspMediaExpendRealtimeStatementReport'}">
                                    <a href="#/sspMediaExpendRealtimeStatement/sspMediaExpendRealtimeStatementReport"
                                       @click="activeName='sspMediaExpendRealtimeStatementReport';">今日数据</a>
                                </li>
                                <li :class="{active:activeName=='sspMediaExpendStatementReport'}">
                                    <a href="#/sspMediaExpendStatement/sspMediaExpendStatementReport"
                                       @click="activeName='sspMediaExpendStatementReport';">历史报表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('cwgl')" style="position:relative"
                                :class="openModuleName=='cwgl' ? 'openModule' : '' ">
                                <img v-if="openModuleName=='cwgl'" class="logo"  src="/static/img/icon/财务管理b.png"/>
                                <img  v-if="openModuleName!='cwgl'"  class="logo"  src="/static/img/icon/财务管理.png"/>
                                <span >财务管理
                                 <img v-if="openModuleName!='cwgl'"  class="arrow" src="/static/img/icon/右.png"/>
                                 <img v-if="openModuleName=='cwgl'" style="margin:29px 21px 20px 17px;" class="arrow" src="/static/img/icon/下.png"/>
                                </span>
                            </h4>
                            <ul v-if="openModuleName=='cwgl'">
                                <!--<li :class="{active:activeName=='overview'}">-->
                                <!--<a href="#/financial/overview"-->
                                <!--@click="activeName='overview';">财务总览</a>-->
                                <!--</li>-->
                                <li :class="{active:activeName=='sspPtAppOwnerBankCardInfo'}">
                                    <a href="#/sspPtAppOwnerBankCardInfo/sspPtAppOwnerBankCardInfoPage"
                                       @click="activeName='sspPtAppOwnerBankCardInfo';">银行卡信息</a>
                                </li>
                                <li :class="{active:activeName=='sspAppOwnerAccountDetail'}">
                                    <a href="#/sspAppOwnerAccountDetail/sspAppOwnerAccountDetailPage"
                                       @click="activeName='sspAppOwnerAccountDetail';">账单流水</a>
                                </li>
                                <li :class="{active:activeName=='destoonFinanceCash'}">
                                    <a href="#/destoonFinanceCash/destoonFinanceCashPage"
                                       @click="activeName='destoonFinanceCash';">提现记录</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('zhgl')" style="position:relative"
                                :class="openModuleName=='zhgl' ? 'openModule' : '' ">
                                <img v-if="openModuleName=='zhgl'" class="logo"  src="/static/img/icon/帐号b.png"/>
                                <img  v-if="openModuleName!='zhgl'"  class="logo"  src="/static/img/icon/帐号.png"/>
                                <span >账号管理
                                 <img v-if="openModuleName!='zhgl'"  class="arrow" src="/static/img/icon/右.png"/>
                                 <img v-if="openModuleName=='zhgl'" style="margin:29px 21px 20px 17px;" class="arrow" src="/static/img/icon/下.png"/>
                                </span>
                            </h4>
                            <ul v-if="openModuleName=='zhgl'">
                                <li :class="{active:activeName=='accountInfo'}">
                                    <a href="#/accountInfo/accountInfo" @click="activeName='accountInfo';">账户信息</a>
                                </li>
                                <li :class="{active:activeName=='changePhoneNumber'}">
                                    <a href="#/accountInfo/changePhoneNumber" @click="activeName='changePhoneNumber';">修改手机号</a>
                                </li>
                                <li :class="{active:activeName=='changePassword'}">
                                    <a href="#/accountInfo/changePassword"
                                       @click="activeName='changePassword';">修改密码</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </td>
            <td valign="top">
                <div class="right" id="mainView" style="background-color: #f3f3f4">
                    <header>

                        <div class="float-left left">
                            <span>{{today}}</span>
                        </div>
                        <div class="float-right">
                            <span>你好! &nbsp;{{account}} &nbsp;</span>
                            <img style="position: relative;top: 2px;"   src="/static/img/icon/退出.png"/>


                            <span v-if="!showLoginView" @click="loginOut" style="cursor:pointer">退出</span>
                        </div>
                        <div style="clear: both"></div>
                    </header>

                    <router-view></router-view>
                </div>

            </td>
        </tr>
    </table>


</div>
</body>
</html>
<script  src="/static/js/echarts.common.min.js" ></script>
<template id="templates"></template>
<!--第三方开源框架-->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/fileUtil.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/vue-router.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/layer/layer.js"></script>
<!--基础js 共享 全局变量 和全局方法-->
<script src="../js/base.js"></script>
<!--配置应用-->
<script src="../js/config.js?v=171227"></script>
<!--首页vue启动js-->
<script src="../js/index.js?v=171227"></script>
<script>
    //防止vue未加载完成前 界面显示混乱 等加载完了再展示
    $("#content-body").show();
    $("div.loginView").show();
</script>

