<script type="text/template" id="template-userPrizeLog-userPrizeLog">
    <div class="MainContainer beanView userPrizeLog">
        <el-row class="breadcrumb">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>中奖信息</el-breadcrumb-item>
            </el-breadcrumb>
        </el-row>
        <el-row class="bean">
            <el-col :span="10" :offset="2">
                <el-form :model="bean" :rules="rules" class="form" label-width="250px" size="small">
                    <el-form-item label="templateId" prop="templateId">
                        <el-input v-model="bean.templateId"></el-input>
                    </el-form-item>
                    <el-form-item label="创意ID" prop="mediaOwnerId">
                        <el-input v-model="bean.mediaOwnerId"></el-input>
                    </el-form-item>
                    <el-form-item label="channelId" prop="channelId">
                        <el-input v-model="bean.channelId"></el-input>
                    </el-form-item>
                    <el-form-item label="userCookieId" prop="userCookieId">
                        <el-input v-model="bean.userCookieId"></el-input>
                    </el-form-item>
                    <el-form-item label="userOpenId" prop="userOpenId">
                        <el-input v-model="bean.userOpenId"></el-input>
                    </el-form-item>
                    <el-form-item label="userFingerId" prop="userFingerId">
                        <el-input v-model="bean.userFingerId"></el-input>
                    </el-form-item>
                    <el-form-item label="type" prop="type">
                        <el-input v-model="bean.type"></el-input>
                    </el-form-item>
                    <el-form-item label="creativeId" prop="creativeId">
                        <el-input v-model="bean.creativeId"></el-input>
                    </el-form-item>
                    <el-form-item label="prizeId" prop="prizeId">
                        <el-input v-model="bean.prizeId"></el-input>
                    </el-form-item>
                    <el-form-item label="price" prop="price">
                        <el-input v-model="bean.price"></el-input>
                    </el-form-item>
                    <el-form-item label="duration" prop="duration">
                        <el-input v-model="bean.duration"></el-input>
                    </el-form-item>
                    <el-form-item label="createTime" prop="createTime">
                        <el-input v-model="bean.createTime"></el-input>
                    </el-form-item>
                    <el-form-item label="广告主ID" prop="advertiserId">
                        <el-input v-model="bean.advertiserId"></el-input>
                    </el-form-item>
                    <el-form-item label="点击链接" prop="clickUrl">
                        <el-input type="textarea" :rows="5" v-model="bean.clickUrl"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="saveOrUpdate()">保存
                        </el-button>
                        <el-button onclick="history.back()">返回</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</script>
<script type="application/javascript">
    templateName = "userPrizeLog-userPrizeLog";
    templates[templateName] = Vue.extend({
        template: '#template-' + templateName,
        data: function () {
            return {
                beanName:"userPrizeLog",
                bean: {},
                temp: {},
                rules: solar.validatorRules,
            }
        },
        methods: {
            select: solar.baseMethods.select,
            deleteBean: solar.baseMethods.deleteBeanGoBack,
            saveOrUpdate: solar.baseMethods.saveOrUpdate,

        },
        mounted: function () {
            this.select();
        }

    });
</script>