<script type="text/template" id="template-advertiserCreative-advertiserCreative">
    <div class="MainContainer beanView advertiserCreative">
        <el-row class="breadcrumb">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>广告主创意</el-breadcrumb-item>
            </el-breadcrumb>
        </el-row>
        <el-row class="bean">
            <el-col :span="10" :offset="2">
                <el-form :model="bean" :rules="rules" class="form" label-width="250px" size="small">
                    <el-form-item label="campaignId" prop="campaignId">
                        <el-input v-model="bean.campaignId"></el-input>
                    </el-form-item>
                    <el-form-item label="创意名称" prop="creativeName">
                        <el-input v-model="bean.creativeName"></el-input>
                    </el-form-item>
                    <el-form-item label="创意类型：1跳转URL" prop="type">
                        <el-input v-model="bean.type"></el-input>
                    </el-form-item>
                    <el-form-item label="中奖名称，20个字以内，显示在中奖弹出层" prop="ctTitle">
                        <el-input v-model="bean.ctTitle"></el-input>
                    </el-form-item>
                    <el-form-item label="创意图片URL，3:2比例，要求图片小于1MB。" prop="ctImgUrl">
                        <el-input type="textarea" :rows="5" v-model="bean.ctImgUrl"></el-input>
                    </el-form-item>
                    <el-form-item label="目标URL，请以http或https开头" prop="ctTargetUrl">
                        <el-input type="textarea" :rows="5" v-model="bean.ctTargetUrl"></el-input>
                    </el-form-item>
                    <el-form-item label="创意信息" prop="ctNote">
                        <el-input v-model="bean.ctNote"></el-input>
                    </el-form-item>
                    <el-form-item label="是否删除1是 0否" prop="isDelete">
                        <el-input v-model="bean.isDelete"></el-input>
                    </el-form-item>
                    <el-form-item label="状态：1启动 2暂停" prop="state">
                        <el-input v-model="bean.state"></el-input>
                    </el-form-item>
                    <el-form-item label="审核状态：1通过 2不通过" prop="checkState">
                        <el-input v-model="bean.checkState"></el-input>
                    </el-form-item>
                    <el-form-item label="审核信息" prop="checkMsg">
                        <el-input v-model="bean.checkMsg"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="saveOrUpdate()">保存
                        </el-button>
                        <el-button onclick="history.back()">返回</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</script>
<script type="application/javascript">
    templateName = "advertiserCreative-advertiserCreative";
    templates[templateName] = Vue.extend({
        template: '#template-' + templateName,
        data: function () {
            return {
                beanName:"advertiserCreative",
                bean: {},
                temp: {},
                rules: solar.validatorRules,
            }
        },
        methods: {
            select: solar.baseMethods.select,
            deleteBean: solar.baseMethods.deleteBeanGoBack,
            saveOrUpdate: solar.baseMethods.saveOrUpdate,

        },
        mounted: function () {
            this.select();
        }

    });
</script>