<script type="text/template" id="template-signCashdetail-signCashdetail">
    <div class="MainContainer beanView signCashdetail">
        <el-row class="breadcrumb">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>signCashdetail</el-breadcrumb-item>
            </el-breadcrumb>
        </el-row>
        <el-row class="bean">
            <el-col :span="10" :offset="2">
                <el-form :model="bean" :rules="rules" class="form" label-width="250px" size="small">
                    <el-form-item label="类型：1收入；2支出" prop="type">
                        <el-input v-model="bean.type"></el-input>
                    </el-form-item>
                    <el-form-item label="收入或支出的原因" prop="reason">
                        <el-input v-model="bean.reason"></el-input>
                    </el-form-item>
                    <el-form-item label="金额" prop="money">
                        <el-input v-model="bean.money"></el-input>
                    </el-form-item>
                    <el-form-item label="产生时间" prop="createTime">
                        <el-date-picker placeholder="选择日期" type="date"
                                        v-model="bean.createTime">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="saveOrUpdate()">保存
                        </el-button>
                        <el-button onclick="history.back()">返回</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</script>
<script type="application/javascript">
    templateName = "signCashdetail-signCashdetail";
    templates[templateName] = Vue.extend({
        template: '#template-' + templateName,
        data: function () {
            return {
                beanName:"signCashdetail",
                bean: {},
                temp: {},
                rules: solar.validatorRules,
            }
        },
        methods: {
            select: solar.baseMethods.select,
            deleteBean: solar.baseMethods.deleteBeanGoBack,
            saveOrUpdate: solar.baseMethods.saveOrUpdate,

        },
        mounted: function () {
            this.select();
        }

    });
</script>