
html,body{
  width: 100% !important;
  height: 100% !important;
    margin: 0 auto;
    padding: 0;
  background: #f0f0f0;
  overflow: hidden;
}
.app-main{
    width: 100%;
    height: 100%;
}
.login {
    width: 100%;
    height: 100%;
    /*background-image: url('/static/img/login_bg.jpg');*/
    background-size: cover;
    background-position: center;
    position: relative;
}
.login-con {
    position: absolute;
    right: 160px;
    top: 50%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    width: 300px;
}
.login-con-header {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 30px 0;
}
.login-con .form-con {
    padding: 10px 0 0;
}
.login-con .login-tip {
    font-size: 10px;
    text-align: center;
    color: #c3c3c3;
}

.ivu-card-head{
    border-bottom: 0px solid #e9eaec;
    padding: 0px 10px 10px 0px;
    line-height: 1;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #1c2438;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.ivu-btn{
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
    width: 100%;
    font-size:14px;
    border: 1px solid transparent;
    line-height: 1.5;
    padding: 6px 15px;
    border-radius: 4px;
}

.bshadow{
    box-shadow: 10px 10px 25px #150202d9;
}

