<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引入样式 -->
    <title>商户联盟</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css?v=171227">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.1/lib/theme-chalk/index.css">
    <link rel="Shortcut Icon" href="/static/img/icon/favicon.ico"/>
    <style>
        .bg {
            background-image: url("/static/img/login_bg.jpg");
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            -moz-background-size: 100% 100%;
        }
        header{

        }
    </style>
</head>

<body style="display: none">
<div id="app" :class="showLoginView ? 'bg' : '' ">
    <header >

        <div class="float-left left" style="cursor: pointer" onclick="location='/'">
            <img style="height: 30px;
            position: relative;
            top: 8px;
            " src="/static/img/icon/logo.png"/>
            <span>商户联盟支付云</span>
        </div>
        <div class="float-right">
            <!--<span>{{today}}</span>-->
            <span style="cursor: pointer" onclick="location='#/personalInfo/personalInfo'">{{account}} &nbsp;</span>
            <img style="position: relative;top: 2px;
                width: 15px;"   src="/static/img/icon/退出.png"/>


            <span v-if="!showLoginView" @click="loginOut" style="cursor:pointer">退出</span>
        </div>
        <div style="clear: both"></div>
    </header>
    <table id="content-body" class="body">
        <tr>
            <td valign="top" class="nav">
                <nav>
                    <ul>
                        <li>
                            <h4  @click="onModuleNameClick('yyfx')"  >
                                <img  class="logo"  src="/static/img/icon/记录.png"/>
                                <span >运营分析</span>
                                <img v-if="openModuleName!='yyfx'"  class="arrow" src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='yyfx'"  class="arrow" src="/static/img/icon/下.png"/>

                            </h4>
                            <ul v-if="openModuleName=='yyfx'">
                                <li :class="{active:activeName=='systemReport'}">
                                    <a href="#/systemReport/systemReport"
                                       @click="activeName='systemReport';">系统分析</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('nrgl')">
                                <img  class="logo"  src="/static/img/icon/资源管理b.png"/>
                                <span >内容</span>
                                <img v-if="openModuleName!='nrgl'"  class="arrow" src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='nrgl'"  class="arrow" src="/static/img/icon/下.png"/>

                            </h4>
                            <ul v-if="openModuleName=='nrgl'">
                                <li v-if="accountRole==1" :class="{active:activeName=='redEnvelope'}">
                                    <a href="#/redEnvelope/redEnvelopePage"
                                       @click="activeName='redEnvelope';">系统红包</a>
                                </li>
                                <li :class="{active:activeName=='coupon'}">
                                    <a href="#coupon/couponPage"
                                       @click="activeName='coupon';">商家优惠</a>
                                </li>
                                <li :class="{active:activeName=='codeTemplate'}">
                                    <a href="#codeTemplate/codeTemplatePage"
                                       @click="activeName='codeTemplate';">二维码模版</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('ptyh')">
                                <img  class="logo"  src="/static/img/icon/帐号b.png"/>
                                <span >平台用户</span>
                                <img v-if="openModuleName!='ptyh'"  class="arrow" src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='ptyh'"  class="arrow" src="/static/img/icon/下.png"/>

                            </h4>
                            <ul v-if="openModuleName=='ptyh'">
                                <li v-if="accountRole==1" :class="{active:activeName=='adminAccount'}">
                                    <a href="#/adminAccount/accountPage"
                                       @click="activeName='adminAccount';">系统管理员列表</a>
                                </li>
                                <li :class="{active:activeName=='userAccount'}">
                                    <a href="#/userAccount/accountPage"
                                       @click="activeName='userAccount';">用户列表</a>
                                </li>
                                <li :class="{active:activeName=='companyAccount'}">
                                    <a href="#/companyAccount/accountPage"
                                       @click="activeName='companyAccount';">商户列表</a>
                                </li>
                                <li v-if="accountRole<3" :class="{active:activeName=='agentAccount'}">
                                    <a href="#/agentAccount/accountPage"
                                       @click="activeName='agentAccount';">代理商列表</a>
                                </li>
                                <li :class="{active:activeName=='salesmanAccount'}">
                                    <a href="#/salesmanAccount/accountPage"
                                       @click="activeName='salesmanAccount';">业务员列表</a>
                                </li>
                                <li v-if="accountRole<3" :class="{active:activeName=='agentAccountApply'}">
                                    <a href="#/agentAccountApply/accountPage"
                                       @click="activeName='agentAccountApply';">代理商申请</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('spgl')">
                                <img  class="logo"  src="/static/img/icon/商店.png"/>
                                <span >商铺管理</span>
                                <img v-if="openModuleName!='spgl'"  class="arrow" src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='spgl'"  class="arrow" src="/static/img/icon/下.png"/>

                            </h4>
                            <ul v-if="openModuleName=='spgl'">
                                <li :class="{active:activeName=='shop'}">
                                    <a href="#/shop/shopPage"
                                       @click="activeName='shop';">商铺列表</a>
                                </li>
                                <li :class="{active:activeName=='shopUpdateCheck'}">
                                    <a href="#/shopUpdateCheck/shopPage"
                                       @click="activeName='shopUpdateCheck';">商铺资料修改申请</a>
                                </li>
                                <li :class="{active:activeName=='shopApply'}">
                                    <a href="#/shopApply/shopPage"
                                       @click="activeName='shopApply';">入驻申请</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('cw')">
                                <img  class="logo"  src="/static/img/icon/财务管理b.png"/>
                                <span >财务</span>
                                <img v-if="openModuleName!='cw'"  class="arrow" src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='cw'"  class="arrow" src="/static/img/icon/下.png"/>

                            </h4>
                            <ul v-if="openModuleName=='cw'">
                                <li :class="{active:activeName=='userBill'}">
                                    <a href="#/userBill/billPage"
                                       @click="activeName='userBill';">用户交易统计</a>
                                </li>
                                <li :class="{active:activeName=='shopBill'}">
                                    <a href="#/shopBill/billPage"
                                       @click="activeName='shopBill';">商铺交易统计</a>
                                </li>
                                <li v-if="accountRole<3" :class="{active:activeName=='agentBill'}">
                                    <a href="#/agentBill/billPage"
                                       @click="activeName='agentBill';">代理商财务统计</a>
                                </li>
                                <li :class="{active:activeName=='salesmanBill'}">
                                    <a href="#/salesmanBill/billPage"
                                       @click="activeName='salesmanBill';">业务员财务统计</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('jcxx')">
                                <img  class="logo"  src="/static/img/icon/统计报表b.png"/>
                                <span >基础信息</span>
                                <img v-if="openModuleName!='jcxx'"  class="arrow" src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='jcxx'"  class="arrow" src="/static/img/icon/下.png"/>

                            </h4>
                            <ul v-if="openModuleName=='jcxx'">
                                <li :class="{active:activeName=='shopCategory'}">
                                    <a href="#/shopCategory/shopCategoryPage"
                                       @click="activeName='shopCategory';">店铺分类</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4 @click="onModuleNameClick('grsz')">
                                <img  class="logo"  src="/static/img/icon/设置.png"/>
                                <span >个人设置</span>
                                <img v-if="openModuleName!='grsz'"  class="arrow" src="/static/img/icon/右.png"/>
                                <img v-if="openModuleName=='grsz'"  class="arrow" src="/static/img/icon/下.png"/>

                            </h4>
                            <ul v-if="openModuleName=='grsz'">
                                <li :class="{active:activeName=='personalInfo'}">
                                    <a href="#/personalInfo/personalInfo" @click="activeName='personalInfo';">个人信息</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </nav>
            </td>
            <td valign="top">
                <div id="mainView">
                    <router-view></router-view>
                </div>

            </td>
        </tr>
    </table>


</div>
</body>
</html>
<script  src="/static/js/echarts.common.min.js" ></script>
<script type="text/javascript"
        src="http://api.map.baidu.com/api?v=2.0&ak=Ffxm30257RjVaZxb0cffMlehj8MGOhVL"></script>
<template id="templates"></template>
<!--第三方开源框架-->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/qrcode.min.js"></script>
<script src="../js/timer.js"></script>
<script src="../js/fileUtil.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/vue-router.js"></script>
<script src="https://unpkg.com/element-ui@2.2.1/lib/index.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/layer/layer.js"></script>
<!--基础js 共享 全局变量 和全局方法-->
<script src="../js/solar.js?v=0309"></script>
<script src="../js/base.js?v=0309"></script>
<!--配置应用-->
<script src="../js/adminConfig.js?v=0309"></script>
<!--首页vue启动js-->
<script src="../js/admin.js?v=0309"></script>
<!-- 引入组件库 -->

<script>
    //防止vue未加载完成前 界面显示混乱 等加载完了再展示
    $("body").show();
    // var navH4=$("h4");
    // function onModuleNameClick() {
    //     navH4.removeClass("openModule");
    //     $(this).addClass("openModule");
    // }
    // navH4.click(onModuleNameClick);

</script>

