<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>纷熙移动-互动广告平台</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css?v=171227">
    <link rel="stylesheet" type="text/css" href="../css/style.css?v=171227">
    <link rel="stylesheet" type="text/css" href="../css/login.css?v=171227">
    <link rel="Shortcut Icon" href="/static/img/icon/logo.png"/>

</head>


<body class="login_bg">
<div id="main" v-if="showView=false" class="app-main"   >
    <div  id="app" class="login">
        <div class="loginView">
            <ul style="background-color: #fff;box-shadow: 10px 10px 25px #150202d9;">

                <div class="ivu-card-head">
                    <p> 找回密码 </p>
                </div>
                <li>
                    <div class="input"><img style="position:relative;top: 3px;margin-left: 5px;height: 12px;"
                                            src="/static/img/icon/注册_07.png"/>
                        <input id="mobileNo"  placeholder="手机号"  type="text"/>
                    </div>
                </li>
                <li style="height: 2px;">
                </li>
                <li>
                    <img class="float-right" style="position: relative;
                    margin-right: 12px;
                    border:1px solid #ccc;top: 0px;cursor: pointer;height: 30px;" src="/captcha"
                         onclick="this.src='/captcha?d='+Math.random();"/>

                    <div class="input" style="width: 200px"><img
                            style="position:relative;top: 3px;margin-left: 5px;height: 16px;"
                            src="/static/img/icon/注册_11.png"/>
                        <input id="imgCode"  placeholder="验证码"  style="width: 120px" type="text"/>

                    </div>

                </li>


                <li style="height: 2px;">
                </li>

                <li><a href="#" class="float-right" style="position: relative; height: 0px;margin-top: 6px; color: blue;
    font-size: 12px;margin-right: 30px; "
                       onclick="sendMsg()">发送验证码</a>
                    <div class="input" style="width: 200px"><img
                            style="position:relative;top: 3px;margin-left: 5px;height: 16px;"
                            src="/static/img/icon/注册_11.png"/>
                        <input id="msgCode"  placeholder="手机验证码"  style="width: 120px" type="text"/>

                    </div>

                </li>

                <li style="height: 2px;">
                </li>

                <li>
                    <div class="input"><img style="position:relative;top: 3px;margin-left: 5px;"
                                            src="/static/img/icon/登录_07.png"/>
                        <input id="password" v-model="password" placeholder="新密码" type="password"/></div>
                </li>
                <li style="height: 2px;">
                </li>
                <li>
                    <div class="input"><img style="position:relative;top: 3px;margin-left: 5px;"
                                            src="/static/img/icon/登录_07.png"/>
                        <input id="password2" placeholder="确认密码" type="password"/></div>
                </li>

                <li style="margin-top: 20px;">
                    <button type="button" onclick="register()" class="ivu-btn">
                        <span>确定</span></button>
                </li>

                <li style="height: 20px;margin-top:5px;text-align: left">
                    <span style="margin-left: 5px;font-size: 12px; ">
                        <a href="login.html">前往登录</a>
                    </span>

                </li>
            </ul>
        </div>

    </div>
</div>
</body>

</html>
<template id="templates"></template>
<!--第三方开源框架-->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/vue-router.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/layer/layer.js"></script>
<!--基础js 共享 全局变量 和全局方法-->
<script src="../js/base.js"></script>
<!--配置应用-->
<script src="../js/config.js"></script>
<!--&lt;!&ndash;首页vue启动js&ndash;&gt;-->
<!--<script src="../js/index.js"></script>-->
<script>
    function sendMsg() {
//     if ($("#mobileNo").val().length<8){
//         solar.alert("请输入正确的手机号!",5);
//         return;
//     }
//     if ($("#imgCode").val().length!=4){
//         solar.alert("请输入正确的验证码!",5);
//         return;
//     }
        var sendMsgUrl=baseHost +"/sendMsgCode";
        var data=solar.post(sendMsgUrl,{mobileNo:$("#mobileNo").val(),
            imgCode:$("#imgCode").val()
        });

    }
    function register() {
        if ($("#mobileNo").val().length<8){
            solar.alert("请输入正确的手机号!",5);
            return;
        }
        if ($("#imgCode").val().length!=4){
            solar.alert("请输入正确的验证码!",5);
            return;
        }
        if ($("#password").val()==''){
            solar.alert("密码不能为空!",5);
            return;
        }
        if ($("#password").val()!=$("#password2").val()){
            solar.alert("密码不一致!",5);
            return;
        }
        var body={
            mobileNo:$("#mobileNo").val(),
            password:$("#password").val(),
            msgCode:$("#msgCode").val(),
        }
        console.log(body);
        var data=solar.post(baseHost +"/forgetPassword",body);
        if (data.code == 200) {
            layer.alert(data.msg, {icon: 6},function (index) {
                location='index.html'
            });
        } else {
            layer.alert(data.msg, {icon: 5});
        }

    }
</script>

